<h1>CooptRoulette</h1>
<% if @job_offer != nil %>
  <%= @job_offer.title %><br />
  <%= @job_offer.description %><br />
  <%= @job_offer.salary %><br />
  <%= @job_offer.internal_reference %><br />
  <%= button_to "Next offer", root_path, :method => "get" %>
  <%= render 'recommendations/form' %>
<% else %>
  <p><strong>There is no more offer to see.</strong></p>
<% end %>